

@media (max-width:1300px){
   
.why-choose-one__services-box {
    right: 0px;
	bottom: 0px;
}
.why .container{
    width:100%;
}

}
@media (max-width:1200px){
    .about .about-img{
        display: none;
    }
}

@media (max-width:991px){

    .about .shape3{
        display: none;
    }
    .about .shape4{
        display: none;
    }
    .about .row {
        flex-wrap: wrap !important;
    }
    .fact-item i{
font-size: 30px;
    }
    .fact-item p{
        font-size: 22px;
    }
    .main-slider-header{
        font-size: 45px;
        line-height: 55px;
        font-weight: 600;
    }
    .carousel-item .img-layer{
        display: none !important;
    }
    .carousel-item .shape1{
        display: none !important;
    }
    .carousel-item .shape2{
        display: none !important;
    }
    .case-single{
        
        margin-top: 35px;
    }
    .carousel-indicators [data-bs-target]{
        margin-left: 20px;
    }
    #services-heading ,#blog-heading{
      
        font-size: 50px;
        font-weight: 600;
        line-height: 50px;
       
    }
    body .container{
width:99%;
    }
    .services .row{
        flex-wrap: wrap !important;
       
    }
   .services .ser{
        width: auto;
    }
    .support-rigth{
        margin-top: 30px;
    }
    /* .why .shape4{
        display: none;
    }
    .why .shape5{
        display: none;
    }
   
    .why .why-bg{
        position: relative;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      z-index: auto;
      width: 100%;
        
    }
    
    .why-choose-one__services-box{
        bottom: 0;
        right: 0;
    } */
    
    .news-footer .email-form button {
left:145px;
}
.blog .container{
    width: 99%;
}
.li-lblog{
    display: none;
}
.section-title h2{
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
}

 .vedo-content h2{

     line-height: 60px;
     font-size: 60px;
     font-weight: 600;
 
 }
 .vedo-content p{
    margin-top: 40px;
}
}


@media(max-width:768px){
 .header-btn-box a{
    padding-bottom: 13px;
    padding-top: 10px;
    padding-left: 17px;
    padding-right: 17px;
    line-height: 20px;
    }
   .main-slider-text{
    line-height: 25px;
    font-size: 16px;
   }
    .header-btn-box{
        margin-top: 10px;
    }
   
   
    .facts-img img{
   margin-top: 20px;
        width: 100%;}

    #services-heading ,#blog-heading{

        font-size: 35px;
        font-weight: 600;
        line-height: 40px;
    }
    .vedo-content p{
        margin-top: 40px;
    }
     .vedo-content h2{
         
         line-height: 60px;
         font-size: 40px;
         font-weight: 500;
     
     }
    
    .section-title h2{
        font-size: 35px;
        font-weight: 600;
        line-height: 40px;
    }
    .fact-item h2{
        font-size: 50px;
    }
   
    .fact-item{
        border: none !important;
    }
}
@media(max-width:650px){
    .support-left-content{
        padding-top: 1px;
    }
    .about-content .about-content-bottom .about-content-bottom-left p{
        line-height: 28px;
    }
    .about-content-text2 ul li{
        padding-right: 6px;
        line-height: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 16px;
    }
    .about-content-bottom-left{
        margin-right: 15px;
        line-height: 25px;
    }
    .about-content-text2 ul li i{
        margin-right:2px;
    }
    .main-menu .container{
        width:99%;
    }
    .menu-contact-box{
        display: none !important;
        
    }
    .menu-right .list-unstyled{
        display: none !important;
    }
    .main-header{
        padding-bottom: 0px !important;
    }
    .about{
        padding-top: 50px;
    }
    .services{
        padding-top: 50px;
    }
    .table-api{
        padding-top: 20px !important;
    }
    .vedo-inner{
        padding-top: 135px;
        padding-bottom: 100px;
        
    }
    .facts{
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .blog{
        padding-bottom: 20px;
    }
}
@media(max-width:500px){
    .main-slider-text{
      display: none;
    }
    .header-btn-box a{
        padding-bottom: 11px;
        padding-top: 8px;
        padding-left: 14px;
        padding-right: 14px;
        line-height: 14px;
        }
        .main-slider-header{
            font-size: 25px;
            line-height: 30px;
            font-weight: 500;
        }
        .header-btn-box{
            margin-top: 5px;
        }
}

/*why media*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .why-bg{
        position: relative;
        top: 0px;
        width: 100%;
        height: 530px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .why-bg {
        position: relative;
        top: 0px;
        width: 100%;
        height: 530px;
    }
}
@media only screen and (max-width: 767px) {
    .why-bg {
        position: relative;
        top: 0px;
        width: 100%;
        height: 530px;
    }
}
/* @media only screen and (min-width: 1200px) and (max-width: 1850px) {
    .why .shape4 {
        display: none;
    }
} */


@media (max-width: 460px) {
    .why-counter{
margin-left: 15px;
    }
    .why-bar{
        width:130px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .why-content  {
        max-width: none;
        width: 100%;
        float: none;
        margin-top: 60px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .why-content  {
        max-width: none;
        width: 100%;
        float: none;
        margin-top: 60px;
    }
    .why-content-bottom{
        align-items: normal !important;
    }
}

@media only screen and (max-width: 767px) {
    .why-content {
        max-width: none;
        width: 100%;
        float: none;
        margin-top: 60px;
    }
}